@(detailsForm: Form[models.UserDetails])(implicit lang: play.api.i18n.Messages)

@mainForAllPages("Welcome to user details database") {
<div class="row">
    <div class="span8">
        <h2>
            Search by name!
        </h2>
        @helper.form(action = routes.UserDetails.searchForUser(), 'class -> "form-horizontal") {
        @helper.inputText(detailsForm("name"))
        @helper.inputText(detailsForm("email"))
        <div class="form-actions">
            <input type="submit" value="submit">
        </div>
        }
    </div>
</div>
}